<!DOCTYPE html>
<html>
<body>
{% if not voices %}
    <form method="POST">
        <input type="password" name="password" required>
        <input type="submit">
    </form>
{% else %}
<table>
    <tr>
        <th>Voice</th>
        <th>Demo Enabled</th>
        <th>Options</th>
    </tr>
    {% for voice in voices %}
        <tr>
            <td>
                <form action="/update-voice" method="POST">
                    <input type="hidden" name="password" value="{{ password }}">
                    <input type="hidden" name="id" value="{{ voice.id }}">
                    <input type="text" name="name" value="{{ voice.name }}">
                    <textarea rows="3" cols="50" name="description">{{ voice.description }}</textarea>
                    <textarea rows="3" cols="50" name="source_url">{{ voice.source_url }}</textarea>
                    <input type="submit" value="Update details">
                </form>
            </td>
            <td>{{ voice.has_demo }}</td>
            <td>
                <form action="/demo-settings" method="POST">
                    <input type="hidden" name="password" value="{{ password }}">
                    <input type="hidden" name="id" value="{{ voice.id }}">
                    <input type="submit" value="Change demo status">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
</body>
</html>