<!DOCTYPE html>
<html>
<body>
{% if not voices %}
    <form method="POST">
        <input type="password" name="password" required>
        <input type="submit">
    </form>
{% else %}
<table>
    <tr>
        <th>Voice</th>
        <th>Verified</th>
        <th>Demo Enabled</th>
        <th>Options</th>
    </tr>
    {% for voice in voices %}
        <tr>
            <td>
                <form action="/update-voice" method="POST">
                    <input type="hidden" name="password" value="{{ password }}">
                    <input type="hidden" name="id" value="{{ voice.id }}">
                    <input type="text" name="name" value="{{ voice.name }}">
                    <textarea rows="4" cols="30" name="description">{{ voice.description }}</textarea>
                    <textarea rows="4" cols="30" name="source_url">{{ voice.source_url }}</textarea>
                    <textarea rows="4" cols="30" name="dataset_url">{{ voice.dataset_url }}</textarea>
                    <textarea rows="4" cols="30" name="model_url">{{ voice.model_url }}</textarea>
                    <input type="submit" value="Update details">
                </form>
            </td>
            <td>{{ voice.verified }}</td>
            <td>{{ voice.has_demo }}</td>
            <td>
                <form action="/verify-voice" method="POST">
                    <input type="hidden" name="password" value="{{ password }}">
                    <input type="hidden" name="id" value="{{ voice.id }}">
                    <input type="submit" value="Change verified status">
                </form>
                <form action="/demo-settings" method="POST">
                    <input type="hidden" name="password" value="{{ password }}">
                    <input type="hidden" name="id" value="{{ voice.id }}">
                    <input type="submit" value="Change demo status">
                </form>
                <form action="/delete-voice" method="POST">
                    <input type="hidden" name="password" value="{{ password }}">
                    <input type="hidden" name="id" value="{{ voice.id }}">
                    <input type="submit" value="Delete voice">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<form action="/import-voices" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Import voices">
</form>
{% endif %}
</body>
</html>