{% extends "base.html" %}
{% block content %}
<script>
    var error = "{{ error }}";
    if(error)
        alert(error)
</script>
<header>
	<h1>Add a voice</h1>
	<p>Link your own voice dataset/model. We reccommend creating a Github repo such as <a href="https://github.com/BenAAndrew/David-Attenborough-Voice">David Attenbourough</a>.</p>
    <p>Please ensure the following:</p>
    <ul>
        <li>Ensure the name is the name of the person/character who's voice has been cloned</li>
        <li>Ensure you explain how you gathered the data in the description</li>
        <li>Ensure the dataset/model URLs <b>are not</b> a direct download so that users can check its contents before downloading</li>
        <li>Ensure the audio sample URL <b>is</b> a direct path to a raw audiofile so that the site can play it</li>
    </ul>
    <p><b>Uploads which do not meet these conditions may be removed</b></p>
</header>
<form method="post" action="/create" name="voice-form">
    <div class="row gtr-uniform">
        <div class="col-6 col-12-xsmall">
            <input type="text" name="name" id="name" value="" placeholder="Voice Name" maxlength=50 required>
        </div>
        <div class="col-12">
            <div class="textarea-wrapper"><textarea name="description" id="description" placeholder="Describe the voice (source, quality etc.)" rows="3" required></textarea></div>
        </div>
        <div class="col-12">
            <input type="text" name="dataset_url" id="dataset_url" value="" placeholder="Dataset URL" required>
        </div>
        <div class="col-12">
            <input type="text" name="model_url" id="model_url" value="" placeholder="Model URL">
        </div>
        <div class="col-12">
            <input type="text" name="image_url" id="image_url" value="" placeholder="Placeholder image URL" required>
        </div>
        <div class="col-12">
            <input type="text" name="audio_sample_url" id="audio_sample_url" value="" placeholder="Audio sample URL">
        </div>
        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" class="primary"></li>
            </ul>
        </div>
    </div>
</form>
{% endblock %}