{% extends "base.html" %}
{% block content %}
{% if not voice.verified %}
	<div style="padding: 20px; background-color: #f44336; color: white;">
		This voice has not yet been approved so will not show on the homepage
	</div>
{% endif %}
<a href="/">Back</a>
<h1>{{ voice.name }}</h1>
<div class="container">
	<div class="row">
	  <div class="col-4">
		<span class="image fit"><img src="{{ voice.image_url }}" alt="{{ voice.name }}"></span>
	  </div>
	  <div class="col-6">
		<p>Creator: {{ voice.creator }}</p>
		<p>Description: {{ voice.description }}</p>
		<p>Source: <a href="{{ voice.source_url }}">{{ voice.source_url }}</a> (If this source is not free, please purchase the source material before use)</p>
		{% if voice.has_audio %}
			<figure>
				<figcaption>Audio sample</figcaption>
				<audio
					controls
					src="{{ audio_path }}">
						Your browser does not support the
						<code>audio</code> element.
				</audio>
			</figure>
		{% endif %}
		<br>
		<ul class="actions">
			{% if voice.has_demo %}
				<li><a href="demo-voice?id={{ voice.id }}" class="button demo">Demo</a></li>
			{% endif %}
			<li><a href="{{ voice.dataset_url }}" class="button primary">Dataset</a></li>
			{% if voice.model_url %}
				<li><a href="{{ voice.model_url }}" class="button">Model</a></li>
			{% endif %}
		</ul>
	  </div>
	</div>
</div>

{% endblock %}
